<section class="about-us section" id="about-us">
  <div class="container">
    <div class="about-us-inner">
      <div class="about-us-content">
        <h2 class="about-us-title">About Us</h2>
        <p class="about-us-text">
          The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
          vyshyvanka comes to life with new zest and style. Our store offers a
          wide selection of high-quality and authentic embroidery, which
          combines the elegance of traditional needlework and modern design.
        </p>
        <p class="about-us-text">
          In "Vyshyvanka Vibes" you will find various models of embroidery, from
          classic to modern, corresponding to the latest fashion trends. Our
          embroidery is made using natural fabrics and is embroidered by highly
          qualified craftsmen who convey the beauty of Ukrainian culture in
          every detail.We believe that vyshyvanka is not just clothing, but a
          symbol of national pride, the heritage of our ancestors and a way of
          expressing one's individuality. Each embroidery from "Vyshyvanka
          Vibes" has its own unique history and symbolism, which gives it a
          special meaning.
        </p>
      </div>
      <div class="about-us-box-img">
        <!-- Slider main container -->
        <div class="swiper about-us-swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper about-us-swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide about-us-swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /images/about-us/girl-1-desktopmax@1x.jpg 1x,
                    /images/about-us/girl-1-desktopmax@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /images/about-us/girl-1-desktop@1x.jpg 1x,
                    /images/about-us/girl-1-desktop@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /images/about-us/girl-1-tablet@1x.jpg 1x,
                    /images/about-us/girl-1-tablet@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    /images/about-us/girl-1-mobile@1x.jpg 1x,
                    /images/about-us/girl-1-mobile@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    /images/about-us/girl-1-mobile-min@1x.jpg 1x,
                    /images/about-us/girl-1-mobile-min@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img
                  class="about-us-img"
                  src="/images/about-us/girl-1-desktopmax@1x.jpg"
                  alt="White Vyshyvanka"
                  width="709"
                  height="545"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="swiper-slide about-us-swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /images/about-us/girl-2-desktopmax@1x.jpg 1x,
                    /images/about-us/girl-2-desktopmax@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /images/about-us/girl-2-desktop@1x.jpg 1x,
                    /images/about-us/girl-2-desktop@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /images/about-us/girl-2-tablet@1x.jpg 1x,
                    /images/about-us/girl-2-tablet@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    /images/about-us/girl-2-mobile@1x.jpg 1x,
                    /images/about-us/girl-2-mobile@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    /images/about-us/girl-2-mobile-min@1x.jpg 1x,
                    /images/about-us/girl-2-mobile-min@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img
                  class="about-us-img"
                  src="/images/about-us/girl-2-desktopmax@1x.jpg"
                  alt="White Vyshyvanka"
                  width="709"
                  height="545"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
