<section class="hero">
    <div class="container">
        <div class="hero-box">
            <div class="hero-main">
                <h1 class="hero-title">Reviving the traditional <span class="ukrainian">Ukrainian</span> artistry in
                    every
                    stitch.</h1>
                <a href="#your-order"><button class="hero-btn" type="button">ORDER
                    <svg class="hero-btn-arrow" width="26" hight="10">
                        <use href="../images/icons/icons.svg#arrow-icon"></use>
                    </svg>
                    </button></a>
            </div>
            <div class="hero-star-box">
                <picture>
                    <source srcset="../images/hero/Star@2x.png" media="(min-resolution: 2dppx)">
                    <source srcset="../images/hero/Star@1x.png" media="(max-resolution: 1dppx)">
                    <img class="star" src="../images/hero/Star@1x.png" alt="star" width="52" height="51">
                </picture>
                <p class="hero-star-text">all embroidery is made by hand</p>
            </div>
            <div class="swiper img-box">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                      <picture>
                    <source
                      media="(min-width: 1440px)"
                      srcset="/images/hero/hero-girl-1-desktopmax@1x.jpg 1x, /images/hero/hero-girl-1-desktopmax@2x.jpg 2x"
                      type="image/jpg"
                    />
                    <source
                      media="(min-width: 1280px)"
                      srcset="/images/hero/hero-girl-1-desktop@1x.jpg 1x, /images/hero/hero-girl-1-desktop@2x.jpg 2x"
                      type="image/jpg"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="/images/hero/hero-girl-1-tablet@1x.jpg 1x, /images/hero/hero-girl-1-tablet@2x.jpg 2x"
                      type="image/jpg"
                    />
                    <source
                      media="(min-width: 375px)"
                      srcset="/images/hero/hero-girl-1-mobile@1x.jpg 1x, /images/hero/hero-girl-1-mobile@2x.jpg 2x"
                      type="image/jpg"
                    />
                    <source
                      media="(min-width: 320px)"
                      srcset="/images/hero/hero-girl-1-mobile-min@1x.jpg 1x, /images/hero/hero-girl-1-mobile-min@2x.jpg 2x"
                      type="image/jpg"
                    />
                    <img
                      class="girl-img"
                      src="/images/hero/hero-girl-1-desktop@1x.jpg"
                      alt="White Vyshyvanka"
                      width="392"
                      height="545"
                      loading="lazy"
                    />
                  </picture>
                    </div>
                    <div class="swiper-slide">
                      <picture>
                    <source
                      media="(min-width: 1440px)"
                      srcset="/images/hero/hero-girl-2-desktopmax@1x.jpg 1x, /images/hero/hero-girl-2-desktopmax@2x.jpg 2x"
                      type="image/jpg"
                    />
                    <source
                      media="(min-width: 1280px)"
                      srcset="/images/hero/hero-girl-2-desktop@1x.jpg 1x, /images/hero/hero-girl-2-desktop@2x.jpg 2x"
                      type="image/jpg"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="/images/hero/hero-girl-2-tablet@1x.jpg 1x, /images/hero/hero-girl-2-tablet@2x.jpg 2x"
                      type="image/jpg"
                    />
                    <source
                      media="(min-width: 375px)"
                      srcset="/images/hero/hero-girl-2-mobile@1x.jpg 1x, /images/hero/hero-girl-2-mobile@2x.jpg 2x"
                      type="image/jpg"
                    />
                    <source
                      media="(min-width: 320px)"
                      srcset="/images/hero/hero-girl-2-mobile-min@1x.jpg 1x, /images/hero/hero-girl-2-mobile-min@2x.jpg 2x"
                      type="image/jpg"
                    />
                    <img
                      class="girl-img"
                      src="/images/hero/hero-girl-2-desktop@1x.jpg"
                      alt="Vyshyvanka"
                      width="392"
                      height="545"
                      loading="lazy"
                    />
                  </picture>
                    </div>
                </div>
                </picture>
            </div>
        </div>
    </div>
</section>