<section class="container">
    <div class="hero-box">
        <div class="hero-text">
            <h1 class="hero-title">Reviving the traditional <span class="ukrainian">Ukrainian</span> artistry in every stitch.</h1>
            <button class="hero-btn">ORDER <svg class="btn-svg">
                <use></use>
            </svg></button>
        </div>
        <div class="hero-star-box">
            <svg clas="hero-star-svg">
                <use></use>
            </svg>
            <p class="hero-star-text">all embroidery is made by hand</p>
        </div>
        <div class="hero-img-box">
            <picture>
                <source
                srcset=""
                type="image/jpg"
                media="(min-width: 1440px)"
                width="329"
                height="545"
                >
                </source>
                <source
                srcset=""
                type="image/jpg"
                media="(min-width: 1280px)"
                width="392"
                height="545"
                >
                </source>
                <source
                srcset=""
                type="image/jpg"
                media="(min-width: 768px)"
                width="413"
                height="575"
                >
                </source>
                <source
                srcset=""
                type="image/jpg"
                media="(min-width: 375px)"
                width="335"
                height="545"
                >
                </source>
                <img 
                class="hero-img"
                src="" 
                srcset=""
                alt="Girl"
                width="392"
                height="545">

            </picture>
        </div>
    </div>
</section>