<section class="hero">
  <div class="container">
    <div class="hero-box">
      <div class="hero-main" data-aos="fade-up" data-aos-duration="1500">
        <h1 class="hero-title">
          Reviving the traditional
          <span class="ukrainian">Ukrainian</span> artistry in every stitch.
        </h1>
        <a href="#your-order" class="hero-btn-link"
          >ORDER
          <svg class="hero-btn-arrow" width="26" height="10">
            <use href="/images/icons/icons.svg#arrow-icon"></use>
          </svg>
        </a>
      </div>
      <div class="hero-star-box" data-aos="fade-left"
     data-aos-offset="500"
     data-aos-duration="500">
        <img
          class="star"
          srcset="/images/hero/star@1x.png 1x, /images/hero/star@2x.png 2x"
          src="/images/hero/star@1x.png"
          alt="star"
          width="49"
          height="49"
        />
        <p class="hero-star-text">all embroidery is made by hand</p>
      </div>
      <div class="swiper hero-swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /images/hero/hero-girl-1-desktopmax@1x.jpg 1x,
                  /images/hero/hero-girl-1-desktopmax@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/hero/hero-girl-1-tablet@1x.jpg 1x,
                  /images/hero/hero-girl-1-tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 375px)"
                srcset="
                  /images/hero/hero-girl-1-mobile@1x.jpg 1x,
                  /images/hero/hero-girl-1-mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/hero/hero-girl-1-mobile-min@1x.jpg 1x,
                  /images/hero/hero-girl-1-mobile-min@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="girl-img"
                src="/images/hero/hero-girl-1-desktopmax@1x.jpg"
                alt="White Vyshyvanka"
                width="392"
                height="545"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /images/hero/hero-girl-2-desktopmax@1x.jpg 1x,
                  /images/hero/hero-girl-2-desktopmax@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/hero/hero-girl-2-tablet@1x.jpg 1x,
                  /images/hero/hero-girl-2-tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 375px)"
                srcset="
                  /images/hero/hero-girl-2-mobile@1x.jpg 1x,
                  /images/hero/hero-girl-2-mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/hero/hero-girl-2-mobile-min@1x.jpg 1x,
                  /images/hero/hero-girl-2-mobile-min@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="girl-img"
                src="/images/hero/hero-girl-2-desktopmax@1x.jpg"
                alt="Vyshyvanka"
                width="392"
                height="545"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
