<!--  ==================== OUR COLLECTION ====================  -->
<section class="collection section" id="our-collection">
  <div class="container-collection container">
    <h2 class="title-our-collection">Our collection</h2>
    <ul class="list-cards-collection">
      <li class="item-cards-collection">
        <div class="container-image-cards-collection">
          <picture class="image-cards-collection">
            <source
              media="(min-width: 768px)"
              srcset="
                images/our-collection/poltava-tablet@1x.jpg 1x,
                images/our-collection/poltava-tablet@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                images/our-collection/poltava-mobile@1x.jpg 1x,
                images/our-collection/poltava-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/our-collection/poltava-mobile-min@1x.jpg 1x,
                images/our-collection/poltava-mobile-min@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="images/our-collection/poltava-tablet@1x.jpg"
              alt="embroidered shirt"
              width="342"
              height="430"
              loading="lazy"
            />
          </picture>
        </div>
        <h3 class="title-cards-collection">
          august poltava women's blousering
        </h3>
        <p class="description-cards-collection">3300 UAH</p>
        <a target="_blank" href="" class="link-item-cards-collection"></a>
      </li>
      <li class="item-cards-collection">
        <div class="container-image-cards-collection">
          <picture class="image-cards-collection">
            <source
              media="(min-width: 768px)"
              srcset="
                images/our-collection/gorgany-tablet@1x.jpg 1x,
                images/our-collection/gorgany-tablet@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                images/our-collection/gorgany-mobile@1x.jpg 1x,
                images/our-collection/gorgany-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/our-collection/gorgany-mobile-min@1x.jpg 1x,
                images/our-collection/gorgany-mobile-min@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="images/our-collection/gorgany-tablet@1x.jpg"
              alt="embroidered shirt"
              width="342"
              height="430"
              loading="lazy"
            />
          </picture>
        </div>
        <h3 class="title-cards-collection">women's blouse gorgany</h3>
        <p class="description-cards-collection">3350 UAH</p>
        <a target="_blank" href="" class="link-item-cards-collection"></a>
      </li>
      <li class="item-cards-collection">
        <div class="container-image-cards-collection">
          <picture class="image-cards-collection">
            <source
              media="(min-width: 768px)"
              srcset="
                images/our-collection/crimea-tablet@1x.jpg 1x,
                images/our-collection/crimea-tablet@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                images/our-collection/crimea-mobile@1x.jpg 1x,
                images/our-collection/crimea-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/our-collection/crimea-mobile-min@1x.jpg 1x,
                images/our-collection/crimea-mobile-min@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="images/our-collection/crimea-tablet@1x.jpg"
              alt="embroidered shirt"
              width="342"
              height="430"
              loading="lazy"
            />
          </picture>
        </div>
        <h3 class="title-cards-collection">women's blouse crimea</h3>
        <p class="description-cards-collection">4000 UAH</p>
        <a target="_blank" href="" class="link-item-cards-collection"></a>
      </li>
      <li class="item-cards-collection">
        <div class="container-image-cards-collection">
          <picture class="image-cards-collection">
            <source
              media="(min-width: 768px)"
              srcset="
                images/our-collection/verkhovyna-tablet@1x.jpg 1x,
                images/our-collection/verkhovyna-tablet@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                images/our-collection/verkhovyna-mobile@1x.jpg 1x,
                images/our-collection/verkhovyna-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/our-collection/verkhovyna-mobile-min@1x.jpg 1x,
                images/our-collection/verkhovyna-mobile-min@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="images/our-collection/verkhovyna-tablet@1x.jpg"
              alt="embroidered shirt"
              width="342"
              height="430"
              loading="lazy"
            />
          </picture>
        </div>
        <h3 class="title-cards-collection">men's shirt verkhovina</h3>
        <p class="description-cards-collection">3100 UAH</p>
        <a target="_blank" href="" class="link-item-cards-collection"></a>
      </li>
      <li class="item-cards-collection">
        <div class="container-image-cards-collection">
          <picture class="image-cards-collection">
            <source
              media="(min-width: 768px)"
              srcset="
                images/our-collection/mens-shirt-tablet@1x.jpg 1x,
                images/our-collection/mens-shirt-tablet@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                images/our-collection/mens-shirt-mobile@1x.jpg 1x,
                images/our-collection/mens-shirt-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/our-collection/mens-shirt-mobile-min@1x.jpg 1x,
                images/our-collection/mens-shirt-mobile-min@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="images/our-collection/mens-shirt-tablet@1x.jpg"
              alt="embroidered shirt"
              width="342"
              height="430"
              loading="lazy"
            />
          </picture>
        </div>
        <h3 class="title-cards-collection">mountain men's shirt</h3>
        <p class="description-cards-collection">3300 UAH</p>
        <a target="_blank" href="" class="link-item-cards-collection"></a>
      </li>
      <li class="item-cards-collection">
        <div class="container-image-cards-collection">
          <picture class="image-cards-collection">
            <source
              media="(min-width: 768px)"
              srcset="
                images/our-collection/mens-yasen-tablet@1x.jpg 1x,
                images/our-collection/mens-yasen-tablet@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                images/our-collection/mens-yasen-mobile@1x.jpg 1x,
                images/our-collection/mens-yasen-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/our-collection/mens-yasen-mobile-min@1x.jpg 1x,
                images/our-collection/mens-yasen-mobile-min@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="images/our-collection/mens-yasen-tablet@1x.jpg"
              alt="embroidered shirt"
              width="342"
              height="430"
              loading="lazy"
            />
          </picture>
        </div>
        <h3 class="title-cards-collection">men's shirt yasen</h3>
        <p class="description-cards-collection">1700 UAH</p>
        <a target="_blank" href="" class="link-item-cards-collection"></a>
      </li>
    </ul>
  </div>

  <!-- ==================== SWIPER OUR COLLECTION ==================== -->
  <div class="container-swiper-collection container">
    <h2 class="title-our-collection">Our collection</h2>
    <div class="swiper swiper-collection">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <ul class="list-swiper-collection">
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/poltava-desktopmax@1x.jpg 1x,
                      images/our-collection/poltava-desktopmax@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/poltava-desktop@1x.jpg 1x,
                      images/our-collection/poltava-desktop@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/poltava-desktopmax@1x.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                    loading="lazy"
                  />
                </picture>
              </div>
              <h3 class="title-cards-collection">
                august poltava women's blousering
              </h3>
              <p class="description-cards-collection">3300 UAH</p>
              <a target="_blank" href="" class="link-item-cards-collection"></a>
            </li>
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/verkhovyna-desktopmax@1x.jpg 1x,
                      images/our-collection/verkhovyna-desktopmax@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/verkhovyna-desktop@1x.jpg 1x,
                      images/our-collection/verkhovyna-desktop@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/verkhovyna-desktopmax@1x.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                    loading="lazy"
                  />
                </picture>
              </div>
              <h3 class="title-cards-collection">men's shirt verkhovina</h3>
              <p class="description-cards-collection">3100 UAH</p>
              <a target="_blank" href="" class="link-item-cards-collection"></a>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="list-swiper-collection">
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/gorgany-desktopmax@1x.jpg 1x,
                      images/our-collection/gorgany-desktopmax@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/gorgany-desktop@1x.jpg 1x,
                      images/our-collection/gorgany-desktop@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/gorgany-desktopmax@1x.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                    loading="lazy"
                  />
                </picture>
              </div>
              <h3 class="title-cards-collection">women's blouse gorgany</h3>
              <p class="description-cards-collection">3350 UAH</p>
              <a target="_blank" href="" class="link-item-cards-collection"></a>
            </li>
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/mens-shirt-desktopmax@1x.jpg 1x,
                      images/our-collection/mens-shirt-desktopmax@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/mens-shirt-desktop@1x.jpg 1x,
                      images/our-collection/mens-shirt-desktop@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/mens-shirt-desktopmax@1x.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                    loading="lazy"
                  />
                </picture>
              </div>
              <h3 class="title-cards-collection">mountain men's shirt</h3>
              <p class="description-cards-collection">3300 UAH</p>
              <a target="_blank" href="" class="link-item-cards-collection"></a>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="list-swiper-collection">
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/crimea-desktopmax@1x.jpg 1x,
                      images/our-collection/crimea-desktopmax@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/crimea-desktop@1x.jpg 1x,
                      images/our-collection/crimea-desktop@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/crimea-desktopmax@1x.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                    loading="lazy"
                  />
                </picture>
              </div>
              <h3 class="title-cards-collection">women's blouse crimea</h3>
              <p class="description-cards-collection">4000 UAH</p>
              <a target="_blank" href="" class="link-item-cards-collection"></a>
            </li>
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/mens-yasen-desktopmax@1x.jpg 1x,
                      images/our-collection/mens-yasen-desktopmax@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/mens-yasen-desktop@1x.jpg 1x,
                      images/our-collection/mens-yasen-desktop@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/mens-yasen-desktopmax@1x.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                    loading="lazy"
                  />
                </picture>
              </div>
              <h3 class="title-cards-collection">men's shirt yasen</h3>
              <p class="description-cards-collection">1700 UAH</p>
              <a target="_blank" href="" class="link-item-cards-collection"></a>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="list-swiper-collection">
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/poltava-2-desktopmax@1x.jpg 1x,
                      images/our-collection/poltava-2-desktopmax@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/poltava-2-desktop@1x.jpg 1x,
                      images/our-collection/poltava-2-desktop@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/poltava-2-desktopmax@1x.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                    loading="lazy"
                  />
                </picture>
              </div>
              <h3 class="title-cards-collection">
                august poltava women's blousering
              </h3>
              <p class="description-cards-collection">3300 UAH</p>
              <a target="_blank" href="" class="link-item-cards-collection"></a>
            </li>
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/verkhovyna-2-desktopmax@1x.jpg 1x,
                      images/our-collection/verkhovyna-2-desktopmax@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/verkhovyna-2-desktop@1x.jpg 1x,
                      images/our-collection/verkhovyna-2-desktop@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/vekhovyna-2-desktopmax@1x.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                    loading="lazy"
                  />
                </picture>
              </div>
              <h3 class="title-cards-collection">men's shirt verkhovina</h3>
              <p class="description-cards-collection">3100 UAH</p>
              <a target="_blank" href="" class="link-item-cards-collection"></a>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="list-swiper-collection">
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/gorgany-2-desktopmax@1x.jpg 1x,
                      images/our-collection/gorgany-2-desktopmax@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/gorgany-2-desktop@1x.jpg 1x,
                      images/our-collection/gorgany-2-desktop@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/gorgany-2-desktopmax@1x.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                    loading="lazy"
                  />
                </picture>
              </div>
              <h3 class="title-cards-collection">women's blouse gorgany</h3>
              <p class="description-cards-collection">3350 UAH</p>
              <a target="_blank" href="" class="link-item-cards-collection"></a>
            </li>
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/mens-shirt-2-desktopmax@1x.jpg 1x,
                      images/our-collection/mens-shirt-2-desktopmax@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/mens-2-desktop@1x.jpg 1x,
                      images/our-collection/mens-2-desktop@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/mens-shirt-2-desktopmax@1x.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                  />
                </picture>
              </div>
              <h3 class="title-cards-collection">mountain men's shirt</h3>
              <p class="description-cards-collection">3300 UAH</p>
              <a target="_blank" href="" class="link-item-cards-collection"></a>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="list-swiper-collection">
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/crimea-2-desktopmax@1x.jpg 1x,
                      images/our-collection/crimea-2-desktopmax@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/crimea-2-desktop@1x.jpg 1x,
                      images/our-collection/crimea-2-desktop@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/crimea-2-desktopmax@1x.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                  />
                </picture>
              </div>
              <h3 class="title-cards-collection">women's blouse crimea</h3>
              <p class="description-cards-collection">4000 UAH</p>
              <a target="_blank" href="" class="link-item-cards-collection"></a>
            </li>
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/mens-yasen-2-desktopmax@1x.jpg 1x,
                      images/our-collection/mens-yasen-2-desktopmax@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/mens-yasen-2-desktop@1x.jpg 1x,
                      images/our-collection/mens-yasen-2-desktop@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/mens-yasen-2-desktopmax@1x.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                  />
                </picture>
              </div>
              <h3 class="title-cards-collection">men's shirt yasen</h3>
              <p class="description-cards-collection">1700 UAH</p>
              <a target="_blank" href="" class="link-item-cards-collection"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
