<section class="testimonials section" id="testimonials">
  <div class="container">
    <h2 class="section-testimonials__tittle">Testimonials</h2>
    <div class="glide">
      <div class="glide__track testimonials__container" data-glide-el="track">
        <ul class="testimonials__list glide__slides">
          <li class="testimonials__list-item glide__slide">
            <img
              src="../images/testimonials/img-1-feedback@2x.png"
              alt="Maria"
              class="portfolio-img"
              width="64"
              height="64"
            />
            <h3 class="name-title">Maria Tkachuk</h3>
            <p class="text-deskr">
              I was pleasantly surprised by the variety of embroidery offered by
              Vyshyvanka Vibes. They have models for every taste - from classic
              to modern. I bought an embroidered dress to celebrate a special
              occasion and received impeccable service and refinement in every
              detail.
            </p>
          </li>
          <li class="testimonials__list-item glide__slide">
            <img
              src="../images/testimonials/img-2-feedback@2x.png"
              alt="Sergey"
              class="portfolio-img"
              width="64"
              height="64"
            />
            <h3 class="name-title">Sergey Rybachok</h3>
            <p class="text-deskr">
              Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
              simply masterpieces! I fell in love with the quality of the
              materials and the skill of the artisans behind each product. This
              is my favorite embroidery shop where I always find something
              special and unique.
            </p>
          </li>
          <li class="testimonials__list-item glide__slide">
            <img
              src="../images/testimonials/img-3-feedback@2x.png"
              alt="Natalia"
              class="portfolio-img"
              width="64"
              height="64"
            />
            <h3 class="name-title">Natalia Chatuk</h3>
            <p class="text-deskr">
              Vyshyvanka Vibes is a real find for everyone who appreciates
              Ukrainian culture. Their embroidery reflects the spirit and
              traditions of our people. I not only buy embroidered shirts for
              myself, but also give them to my friends abroad as a symbol of our
              beauty and national pride.
            </p>
          </li>
        </ul>
      </div>
      <div class="glide__bullets" data-glide-el="controls[nav]">
        <button class="glide__bullet" data-glide-dir="=0"></button>
        <button class="glide__bullet" data-glide-dir="=1"></button>
        <button class="glide__bullet" data-glide-dir="=2"></button>
      </div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
