html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  color: rgba(252, 249, 249, 0.4);
  background-color: #1c2225;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  padding: 40px 0;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #33383a;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: #ecd979;
  height: 200px;
  border-radius: 15px;
  border: 3px solid rgb(51, 56, 58);
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .section {
    padding: 50px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 50px;
  }
  .section {
    padding: 75px 0;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
}
