.section-footer {
    border-top: 1px solid rgba(252, 249, 249, 0.1);
    background-image: url(../images/background/yellow-ornament@1x.png);
    background-size: 452px 400px;
    background-repeat: no-repeat;
    background-position: center bottom -197px;
    padding: 40px 0 280px;
    width: 100%;
    position: relative;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 40px;
}

.footer-menu-item {
    font-size: 14px;
}

.footer-menu-link {
    color: #FCF9F9;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.slogan {
    margin-top: 40px;
    color: #FCF9F9;
    font-size: 44px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: -1.32px;
}

.span-slogan {
    color: #ECD979;
}

@media (min-resolution: 192dpi) and (min-width: 320px) {
    .section-footer {
        background-image: url("../images/background/yellow-ornament@2x.png");
    }
}

/* Футер перехід на мобайл 375 */

@media screen and (min-width: 375px) {
    .section-footer {
        background-position: center bottom -201px;
    }
}

/* Футер перехід на таблет 768 */

@media screen and (min-width: 768px) {

    .section-footer {
        background-position: right -278px bottom -17px;
        padding: 40px 0;
    }

    .footer-menu {
        flex-wrap: nowrap;
        gap: 25px;
    }

    .slogan {
        font-size: 54px;
        width: 521px;
        line-height: 54px;
        margin-top: 80px;
    }

}

/* Футер перехід на десктоп 1280 */

@media screen and (min-width: 1280px) {

    .section-footer {
        background-size: 595px 528px;
        background-position: right -259px bottom -104px;
    }

    .footer-menu-link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-menu-link:hover,
    .footer-menu-link:focus {
        color: #ECD979;
    }

    .slogan {
        font-size: 64px;
        width: 754px;
        line-height: 1.15625;
        margin-top: 117px;
    }

}

/* Футер перехід на десктоп 1440 */

@media screen and (min-width: 1440px) {

    .section-footer {
        max-width: 1440px;
        background-position: right -99px bottom -104px;
        margin: 0 auto;
    }

}