.header {
  padding-top: 20px;
  color: #fcf9f9;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__navigation {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__menu,
.header__contact-link {
  display: none;
}

.header__contact-link:hover,
.header__contact-link:focus {
  border-color: #ecd979;
  background-color: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__social-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  margin-right: 12px;
  margin-left: auto;
}

.header__social-list-item {
  width: 44px;
  height: 44px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: rgba(252, 249, 249, 0.1);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__social-list-item:hover,
.header__social-list-item:focus {
  border-color: #ecd979;
  background-color: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__social-icon {
  fill: #fcf9f9;
  opacity: 0.8;
}

.header__mobile-menu {
  line-height: 0;
}

.header__mobile-menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  stroke: #ecd979;
}

.header__mobile-menu-btn:focus,
.header__mobile-menu-btn:hover {
  stroke: #fcf9f9;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__tablet-menu-icon {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}

@media screen and (min-width: 768px) {
  .header__social-list {
    margin-right: 20px;
  }

  .header__mobile-menu-icon {
    display: block;
  }
  .header__mobile-menu-icon {
    height: 28px;
    width: 39px;
  }
}

@media screen and (min-width: 1280px) {
  .header__mobile-menu-btn {
    display: none;
  }

  .header__navigation {
    display: flex;
    align-items: center;
  }

  .header__logo-link {
    margin-right: 60px;
  }

  .header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .header__menu-link {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fcf9f9;
    font-size: 14px;
    line-height: 1.28;
    text-transform: uppercase;
  }
  .header__menu-link:focus,
  .header__menu-link:hover {
    color: #ecd979;
    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header__menu-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ecd979;
    border-radius: 5px 5px 0px 0px;
    transform: scaleX(0);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header__menu-link:hover::after,
  .header__menu-link:focus::after {
    transform: scaleX(1);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header__address {
    margin-left: auto;
    margin-right: 20px;
  }

  .header__contact-link {
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 18px;
    padding-right: 18px;
    color: #fcf9f9;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    background-color: rgba(252, 249, 249, 0.1);
    transition:
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__contact-link:hover,
  .header__contact-link:focus {
    transition:
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__social-list {
    margin-right: 0px;
    margin-left: 0;
  }
}

/* backdrop */

.menu-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19999999999999999999999;
  opacity: 0;
  backdrop-filter: blur(4px);
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  background-color: #ecd979;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  z-index: 999;
  width: 274px;
  height: 100%;
  background-image: url(../images/background/black-ornament@2x.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 250ms ease-in-out;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.is-open .menu-container {
  transform: translateX(0%);
}

.close-menu-button {
  position: fixed;
  top: 20px;
  right: 12px;
  background-color: transparent;
  border: transparent;
  padding: 0;

  width: 44px;
  height: 44px;
}

.close-menu-icon {
  stroke: #1c2225;
  width: 30px;
  height: 30px;
}

.menu-phone {
  color: #1c2225;
  font-size: 12px;
  line-height: 117%;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.1);
  padding: 12px 20px;
  width: fit-content;
}

.menu-elements-cont {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.menu-nav-link {
  color: #1c2225;
  line-height: 129%;
  font-size: 14px;
  text-transform: uppercase;
}

.menu-ornament-cont {
  width: 100%;
  height: 252px;
}

@media screen and (min-width: 768px) {
  .menu-container {
    background-image: url(../images/background/black-ornament@2x.png);
  }

  .menu-container {
    width: 380px;
  }

  .menu-ornament-cont {
    height: 364px;
  }

  .menu-phone {
    font-size: 14px;
    padding: 14px 28px;
  }

  .menu-nav-list {
    gap: 25px;
  }

  .close-menu-button {
    width: 44px;
    height: 44px;
    top: 20px;

    right: 32px;
  }

  .close-menu-icon {
    stroke: #1c2225;
    width: 44px;
    height: 44px;
  }
}

@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-device-pixel-ratio: 2) {
  .menu-container {
    background-image: url(../images/background/black-ornament@2x.png);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx),
  screen and (min-width: 768px) and (min-device-pixel-ratio: 2) {
  .menu-container {
    background-image: url(../images/background/black-ornament@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .menu-backdrop {
    display: none;
  }
}
