
.section-testimonials__tittle {
    color: #FCF9F9;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px; /* 137.5% */
    margin: 0;
    letter-spacing: -0.96px;
    margin-bottom: 40px;
}

.testimonials__list {
    padding-top: 24px;
}

.testimonials__list-item {
    display: flex;
    padding: 50px 18px 18px 18px;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    width: 300px;
    height: 243px;
}
.portfolio-img {
    position: absolute;
    top: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.name-title {
    color: #FCF9F9;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
    margin: 0;
    margin-bottom: 8px;
}
.text-deskr {
    color: rgba(252, 249, 249, 0.40);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    margin: 0;
}
.glide__bullets {
    bottom: -30px;
}
.glide__bullet {
    background-color:  rgba(252, 249, 249, 0.40);
}
.glide__bullet--active {
    background-color: #ECD979;
    width: 18px;
    border-radius: 9px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
    margin: 0 auto;
  }  
  .section-testimonials__tittle {
    font-size: 44px;
    line-height: 64px; /* 145.455% */
    letter-spacing: -1.32px;
    margin-bottom: 40px;
  }


  .glide__slide {
    padding: 46px 18px 18px 18px;
    width: 300px;
    height: 286px;
  }
  .name-title {
    font-size: 16px;
  }
  .text-deskr {
    font-size: 16px;
    text-align: center;
    line-height: normal;
    letter-spacing: 0.20px;
  }
  
}
@media (min-width: 1280px) { 
    .glide__slide{
        height: 268px;
    }
    .name-title {
    font-size: 20px;
  }
  .text-deskr {
    font-size: 16px;
  }
  @media (min-width: 1440px) {
    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 100px;

    }
    .glide__slide {
        width: 360px;
        height: 264px;
    }
  }
}