.testimonials {
  padding-bottom: 80px;
}
.section-testimonials__tittle {
    color: #FCF9F9;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px; /* 137.5% */
    margin: 0;
    letter-spacing: -0.96px;
    margin-bottom: 40px;
}

.testimonials__list {
    padding-top: 24px;
    
}

.testimonials__list-item {
    display: flex;
    padding: 54px 18px 18px 18px;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    height: 260px;
    position: relative;
}

.portfolio-img {
    position: absolute;
    top: -24px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.name-title {
    color: #FCF9F9;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
    margin: 0;
    margin-bottom: 8px;
}
.text-deskr {
    color: rgba(252, 249, 249, 0.40);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    margin: 0;
}
.glide__bullets {
    bottom: -30px;
}
.glide__bullet {
    background-color:  rgba(252, 249, 249, 0.40);
}
.glide__bullet--active {
    background-color: #ECD979;
    width: 18px;
    border-radius: 9px;
}
@media (min-width: 375px) {
    .testimonials__list-item {
        height: 243px;
    }
  }
@media (min-width: 768px) {
    .testimonials {
  padding-bottom: 100px;
}
  .section-testimonials__tittle {
    font-size: 44px;
    line-height: 64px; /* 145.455% */
    letter-spacing: -1.32px;
    margin-bottom: 40px;
  }


  .testimonials__list-item {
    padding: 46px 18px 18px 18px;
    height: 300px;
  }
  .name-title {
    font-size: 16px;
  }
  .text-deskr {
    font-size: 16px;
    text-align: center;
    line-height: normal;
    
  }
  
}
@media (min-width: 1280px) { 
  .testimonials {
  padding-bottom: 150px;
}
    .testimonials__list-item {
        height: 268px;
    }
    .name-title {
    font-size: 20px;
  }
  .text-deskr {
    font-size: 16px;
  }
  @media (min-width: 1440px) {
    .testimonials__list-item {
        
        height: 264px;
    }
  }
}
