.order-bg {
  max-width: 375px;
  min-height: 500px;
  background-color: #2e2f42;
  background-image: url(/images/your-order/order-background-desktopmax@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto 80px auto;
}

@media screen and (min-resolution: 192dpi) {
  .order-bg {
    background-image: url(/images/your-order/order-background-desktopmax@2x.jpg);
  }
}

.order-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.38;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 40px;
}

.color-text {
  color: #ecd979;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .order-form {
    max-width: 335px;
    min-width: 280px;
  }
}

.order-input {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 47px;
  background: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fcf9f9;
}

.order-comment {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 8px;
  padding: 14px 16px;
  margin-bottom: 40px;
  width: 100%;
  height: 196px;
  resize: none;
  background: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fcf9f9;
}

.order-input:focus,
.order-comment:focus {
  border: 1px solid rgba(252, 249, 249, 0.6);
}

.order-input::placeholder,
.order-comment::placeholder {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(252, 249, 249, 0.5);
}

.order-send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 36px;
  margin: 0 auto;
  width: 145px;
  height: 49px;
  background: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fcf9f9;
  fill: #ecd979;
}

.order-send-btn:focus {
  border: 1px solid #ecd979;
}

.order-btn-icon {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-img-container {
  display: none;
}

.order-bg-ornament {
  display: none;
}

@media screen and (min-width: 768px) {
  .your-order {
    background-image: url(/images/background/gray-ornament@1x.png);
    background-repeat: no-repeat;
    background-position: bottom left -220px;
    background-size: 545px 484px;
  }

  .order-bg {
    max-width: 768px;
    min-height: 776px;
    margin-bottom: 100px;
  }

  .order-title {
    font-size: 44px;
    line-height: 1.32;
  }

  .order-form {
    width: 508px;
  }

  .order-input {
    height: 50px;
  }

  .order-send-btn {
    margin: 0;
  }

  .order-img-container {
    display: block;
    margin-top: 100px;
  }

  .order-swiper {
    border-radius: 4px;
    width: 704px;
    height: 521px;
    overflow: hidden;
  }

  @media screen and (min-resolution: 192dpi) {
    .your-order {
      background-image: url(/images/background/gray-ornament@2x.png);
    }
  }
}

@media screen and (min-width: 1280px) {
  .your-order {
    background-position: bottom 75px left -254px;
  }

  .order-bg {
    max-width: 1280px;
    margin-bottom: 150px;
  }

  .your-order-wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
  }

  .order-input:hover,
  .order-comment:hover {
    border: 1px solid rgba(252, 249, 249, 0.6);
  }

  .order-send-btn:hover {
    border: 1px solid #ecd979;
  }

  .order-send-btn:hover .order-btn-icon {
    transform: rotate(60deg);
  }

  .order-img-container {
    margin-top: 0;
  }

  .order-swiper {
    width: 588px;
  }
}

@media screen and (min-width: 1440px) {
  .your-order {
    max-width: 1440px;
    margin: 0 auto;
    background-position: bottom 75px left -219px;
  }
  .order-bg {
    max-width: 1440px;
    background-image: url(/images/your-order/order-background-2-desktopmax@1x.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .order-bg {
      background-image: url(/images/your-order/order-background-2-desktopmax@2x.jpg);
    }
  }

  .order-swiper {
    width: 524px;
  }
}
